{%extends 'reg/base.html'%}
{%block head%}
{%endblock%}
{%block body%}
<section class="text-gray-500 bg-gray-900 body-font overflow-hidden" style="height: 89vh;">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-full mx-auto flex flex-wrap">
            <div class="lg:w-full w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <div class="flex border-t border-gray-800 py-2">
                    <span class="text-gray-500">Registration ID(Copy this for future reference)</span>
                    <span class="ml-auto text-white">{{regid}}</span>
                </div>
                <div class="flex border-t border-gray-800 py-2">
                    <span class="text-gray-500">Name</span>
                    <span class="ml-auto text-white">{{username}}</span>
                </div>
                <div class="flex border-t border-gray-800 py-2">
                    <span class="text-gray-500">Email</span>
                    <span class="ml-auto text-white">{{email}}</span>
                </div>
                <div class="flex border-t border-gray-800 py-2">
                    <span class="text-gray-500">Phone</span>
                    <span class="ml-auto text-white">{{mobile}}</span>
                </div>
                <div class="flex border-t border-gray-800 py-2">
                    <span class="text-gray-500">Type of Registration</span>
                    <span class="ml-auto text-white">{{regType}}</span>
                </div>
                <div class="flex border-t border-b mb-6 border-gray-800 py-2">
                    <span class="text-gray-500">No Of Tickets</span>
                    <span class="ml-auto text-white">{{noTickets}}</span>
                </div>
                <button
                    class="ml-1 inline-flex text-black bg-gray-300 border-0 py-2 px-6 focus:outline-none hover:bg-gray-500 rounded text-lg"
                    id="backButton">Print</button>
            </div>

        </div>
</section>
<script>
    document.getElementById('backButton').addEventListener('click',(e)=>{
        print();
    });
</script>
{%endblock%}